*{

  padding: 0;
  margin: 0;


 
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  top: 0px;
  left: 0px; 
  bottom: 0;
  right: 0;
}
#header {
  width: 95%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:2rem;
  margin-bottom: 2rem;
  background-color: rgb(233, 202, 192);
  border-radius: 1rem;
  position: fixed;

  z-index: 1;

}
#header img{
  margin: 1rem;
  width: 3rem;
  height: auto;
}
.logo{
  display: flex;
  flex-direction: row;
}
.nav{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  background-color: rgb(233, 202, 192);
  /* position: fixed; */


}
.nav li{
  margin: 1rem;
  background-color:rgb(214, 157, 103);
  border-radius: .3rem;
  padding: .1rem;

}
.Video{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
  position:relative;
  margin-top: 10rem;

}
#video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

}
#submit{
  display: flex;
  justify-content: center;
  align-items: center;
}
#boxes .container{
  display: flex;
  flex-direction: row;
}
#boxes .box {
  text-align: center;
  width: 30%;
  padding: 1rem;
}

#boxes .box img {
  width: 90px;
}

#boxes .box img:hover {
  width: 100px;
}

footer {
  background-color: cornsilk;
  margin: 20px 0;
  text-align: center;
  border-top: 2px solid #a9508b;
}
@media (max-width: 650px) {
  #boxes .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
  }
  #boxes .box {
  
  width: 100%;
  padding: 1rem;
}
.Video{
  margin-top: 0.1rem;

}
#header {
  position: relative;

}
  }