*{
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
}

@media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }